.form{
      color: white;
    background-color: rgb(45, 43, 43) !important;
   box-shadow: 10px 10px 5px rgb(45, 43, 43);
    border-radius: 15px;
    padding: 20px;
  }
  .textarea{
    height: 250px;
  }